---
// src/components/Experience.astro
---

<section id="experience">
    <h2>▲ Experience</h2>
    <div class="experience-list">
        <div class="experience">
            <h3>. </h3>
            <p></p>
            <p></p>
        </div>
        
    </div>
</section>
