---
// src/components/Footer.astro
---

<footer>
    <div class="social-icons">
        <a href="https://github.com/therlw"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-discord"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
        <a href="#"><i class="fas fa-rss"></i></a>
        <a href="#"><i class="fas fa-music"></i></a>
    </div>
</footer>
