---
// src/components/Footer.astro
---

<footer>
    <div class="social-icons">
        <a href="https://github.com/therlw"><i class="fab fa-github"></i></a>
        <a href="https://www.kisa.link/nHocV"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/ahmttdnr/"><i class="fab fa-instagram"></i></a>
        <a href="http://discord.com/users/698974344768127127"><i class="fab fa-discord"></i></a>
        <a href="https://open.spotify.com/user/9v6dm0fy4d8i395j5cqhvv4ne?si=8ac5d1eb02f84abc"><i class="fa-brands fa-spotify"></i></a>
    </div>
</footer>
