---
// src/components/Projects.astro
---

<section id="projects">
    <h2>▲ Projeler (1)</h2>
    <div class="project-list">
    <div class="project">
    <img src="/favicon.png" alt="Pyre Logo" class="project-image">
    <h3>EncrypterP</h3>
    <p>Dosya şifreleme için ideal bir program, sanırım biraz fazla kaba.</p>
    <p>Mart 2024 - 2025</p>
    </div>

    
        
    </div>
</section>