---
// src/components/Skills.astro
---

<section id="skills">
    <h2>▲ Yetenekler</h2>
    <div class="skill-list">
        <span>C#</span>
        <span>Luau</span>
        <span>Python</span>
        <span>HTML5</span>
        
    </div>
</section>