---
// src/components/Tools.astro
---

<section id="tools">
    <h2>▲ Araçlar</h2>
    <div class="tool-list">
        <span>Node.js</span>
        <span>NPM</span>
        <span>Astro</span>
        <span>VS Code</span>
        <span>Visual Studio</span>
    </div>
</section>